@charset "UTF-8";
@font-face {
  font-family: 'regular';
  src: url("../fonts/Calibri/Calibri.eot");
  src: local("☺"), url("../fonts/Calibri/Calibri.woff") format("woff"), url("../fonts/Calibri/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bold';
  src: url("../fonts/CalibriBold/CalibriBold.eot");
  src: local("☺"), url("../fonts/CalibriBold/CalibriBold.woff") format("woff"), url("../fonts/CalibriBold/CalibriBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'light';
  src: url("../fonts/CalibriLight/CalibriLight.eot");
  src: local("☺"), url("../fonts/CalibriLight/CalibriLight.woff") format("woff"), url("../fonts/CalibriLight/CalibriLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.sprite-advantages-icon {
  width: 38px;
  height: 60px;
  background-position: -5px -5px; }

.sprite-fb-icon {
  width: 8px;
  height: 16px;
  background-position: -53px -5px; }

.sprite-green-bottom-arrow {
  width: 11px;
  height: 18px;
  background-position: -71px -5px; }

.sprite-icon-phone {
  width: 25px;
  height: 24px;
  background-position: -92px -5px; }

.sprite-logo {
  width: 70px;
  height: 70px;
  background-position: -127px -5px; }

.sprite-vk-icon {
  width: 21px;
  height: 12px;
  background-position: -207px -5px; }

.sprite-white-bottom-arrow {
  width: 11px;
  height: 18px;
  background-position: -238px -5px; }

body {
  margin: 0;
  padding: 0;
  min-width: 1400px;
  font-family: regular; }

.slider {
  background: #a88773;
  position: relative;
  overflow: hidden; }

.advantages {
  height: 570px; }

.projects {
  height: 910px;
  background: #6ab960; }

.contacts {
  height: 430px;
  background: #aca2a6;
  font-size: 0; }

.footer {
  height: 150px;
  background: #a88773; }

.slides {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .slides img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 100%;
    -webkit-transition: 1s;
    transition: 1s;
    z-index: -1; }
    .slides img.active {
      left: 0;
      z-index: 10; }
    .slides img.left {
      left: -100%;
      z-index: 0; }

.slider-body {
  height: 100vh;
  min-height: 700px;
  max-height: 800px;
  width: 960px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 11; }

.lead-text {
  height: 100%;
  position: absolute;
  top: 300px;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: -1;
  opacity: 0;
  text-align: center; }
  .lead-text.active {
    left: 0;
    z-index: 10;
    opacity: 1; }
  .lead-text.left {
    z-index: -1;
    opacity: 0; }

.slider-header {
  color: #fff;
  font-size: 65px;
  font-family: bold;
  text-transform: uppercase;
  line-height: 65px; }
  .slider-header span {
    font-size: 50px;
    font-family: regular;
    display: block; }

.slider-footer {
  height: 500px;
  width: 100%;
  background: rgba(168, 135, 115, 0.8);
  position: relative;
  top: 0;
  left: 0;
  z-index: 11; }

.like-header {
  margin: 0;
  padding: 55px 0 100px;
  font-size: 50px;
  font-family: regular;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  position: relative; }
  .like-header:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 25px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 11px;
    height: 18px;
    background-position: -238px -5px; }
  .like-header.invert {
    color: #ada2a6; }
    .like-header.invert:after {
      background-position: -71px -5px; }

.slider-text, .advantages-wrap {
  width: 960px;
  margin: 0 auto; }

.projects-wrap {
  width: 100%;
  height: 300px;
  font-size: 0;
  position: relative; }

.project-item {
  width: 50%;
  height: 150px;
  display: inline-block;
  font-size: 16px;
  position: relative;
  background: #6ab960; }
  .project-item.invert {
    background: #a88773; }

.top-left {
  position: absolute;
  bottom: 0;
  right: 0; }

.top-right {
  position: absolute;
  bottom: 0;
  left: 0; }

.bottom-left {
  position: absolute;
  top: 0;
  right: 0; }

.bottom-right {
  position: absolute;
  top: 0;
  left: 0; }

.map {
  width: 50%;
  height: 100%;
  background: bisque;
  display: inline-block; }

.contact-wrap {
  width: 50%;
  height: 100%;
  background: coral;
  display: inline-block;
  vertical-align: top; }

.contacts-body {
  width: 100%;
  height: 70%;
  background: mediumaquamarine; }

.contacts-footer {
  width: 100%;
  height: 30%;
  background: yellowgreen; }

.menu {
  width: 100%;
  height: 70px;
  background: #fff;
  margin-top: 35px;
  font-size: 0; }

.logo-wrap {
  display: inline-block;
  width: 70px;
  height: 70px; }

.list-wrap {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  vertical-align: top;
  font-size: 14px; }
  .list-wrap ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .list-wrap li {
    display: inline-block;
    margin: 0 15px;
    position: relative; }
    .list-wrap li:first-child {
      margin-left: 30px; }
    .list-wrap li:last-child {
      margin-right: 30px; }
    .list-wrap li.mod a {
      font-family: arial;
      color: #fff;
      font-size: 14px;
      background: #a88773;
      padding: 10px;
      -webkit-transition: .2s;
      transition: .2s; }
      .list-wrap li.mod a:hover {
        background-color: #6ab960; }
      .list-wrap li.mod a:after {
        content: none; }
  .list-wrap a {
    font-family: bold;
    color: #452725;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
    -webkit-transition: .2s;
    transition: .2s; }
    .list-wrap a:hover {
      color: #6ab960; }
    .list-wrap a:after {
      content: '';
      width: 0%;
      height: 3px;
      background-color: #fff;
      bottom: -26px;
      left: 0;
      position: absolute;
      -webkit-transition: .2s;
      transition: .2s; }
    .list-wrap a:hover:after {
      content: '';
      width: 100%;
      height: 3px;
      background-color: #6ab960;
      bottom: -26px;
      left: 0;
      position: absolute; }

.phone-wrap {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  vertical-align: top;
  font-size: 0;
  color: #fff;
  background-color: #6ab960;
  padding: 20px 25px 20px 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right; }
  .phone-wrap p {
    margin: 0;
    padding: 0;
    line-height: 18px;
    position: relative;
    font-size: 14px; }
    .phone-wrap p:before {
      content: '';
      background-image: url(../img/spritesheet.png);
      background-repeat: no-repeat;
      display: block;
      width: 25px;
      height: 24px;
      background-position: -92px -5px;
      bottom: 0;
      top: 0;
      left: -43px;
      position: absolute;
      margin: auto; }
  .phone-wrap a {
    display: block;
    font-family: bold;
    color: #fff;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s; }
    .phone-wrap a:hover {
      color: #452725; }
