<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	title Home
	link(rel="stylesheet", href="css/main.css")
body
	section.slider
		.slides
			img(src="img/slide1.jpg", alt="", data-slide="0").active
			img(src="img/slide2.jpg", alt="", data-slide="1")
			img(src="img/slide3.jpg", alt="", data-slide="2")
		.slider-btn-wrap
			.slider-arr-wrap.left
				i.sprite.sprite-green-bottom-arrow
			.slider-arr-wrap.right
				i.sprite.sprite-green-bottom-arrow
			.slider-body
				.menu
					.logo-wrap
						i.sprite.sprite-logo
					.list-wrap
						ul
							li
								a(href="#") о компании
							li
								a(href="#") каталог домов
							li
								a(href="#") галлерея
							li
								a(href="#") новости
							li
								a(href="#") контакты
							li.mod
								a(href="#") акции
					.phone-wrap
						p
							a(href="#") +7 (495) 764-32-87
							|ежедневно 09:00 - 21:00
				.lead-text(data-slide="0").active
					p.slider-header
						span home
						|construction
					p.slider-text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
					button.btn.btn-primary проекты домов
				.lead-text(data-slide="1")
					p.slider-header
						span Слайдер номер 2
						|construction
					p.slider-text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
					button.btn.btn-primary проекты домов2
				.lead-text(data-slide="2")
					p.slider-header
						span home3
						|construction
					p.slider-text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
					button.btn.btn-primary проекты домов3
		.slider-footer
			p.like-header наши принципы
			p.footer-text Строительство собственного дома — это очень сложный, но интересный процесс.
			p.footer-text Если ты в курсе событий, видишь и участвуешь в каждом процессе - то постройка собственного дома приносит колоссальное удовлетворения от созданного практически собственными руками. Наша основная зада при строительстве сделать, так чтобы заказчик видел каждый процесс на 100% процентов, чтобы знал все нюансы собственного дома, чтобы участвовал сам в процессе постройки указывая на свои собственные желания.
			p.footer-text Таким способом мы стараемся, не словом, а делом доказать и показать качество выполненных работ, провести работу над оптимизацией процесса для реальной экономии денег заказчика. В первую очередь мы работаем над репутацией нашей фирмы строя дома качественно, экологично и по разумным ценам.
	section.advantages
		p.like-header.invert преймущества
		.advantages-wrap
			.item-wrap
				img(src="img/adv-ico-empt.jpg", alt="")
				p.item-text 
					span Технический надзор
					| Контроль качества выполненных работ
			.item-wrap
				img(src="img/adv-ico.jpg", alt="")
				p.item-text 
					span Технический надзор
					| Контроль качества выполненных работ
			.item-wrap
				img(src="img/adv-ico-empt.jpg", alt="")
				p.item-text 
					span Технический надзор
					| Контроль качества выполненных работ
			.item-wrap
				img(src="img/adv-ico-empt.jpg", alt="")
				p.item-text 
					span Технический надзор
					| Контроль качества выполненных работ
			.item-wrap
				img(src="img/adv-ico-empt.jpg", alt="")
				p.item-text 
					span Технический надзор
					| Контроль качества выполненных работ
			.item-wrap
				img(src="img/adv-ico-empt.jpg", alt="")
				p.item-text 
					span Технический надзор
					| Контроль качества выполненных работ
	section.projects
		p.like-header проекты
		.projects-wrap
			.project-item
				.top-left
					.proj-item-wrap
						.proj-text
							span Проект Амароскон
							span 300м2
							|3 гостиные и 2 ванные комнаты
							a(href="#") Подробнее
						img(src="img/house-image.jpg", alt="")
						.price-wrap
							p 
								span 3 700 000 ₽	
								| 2 619 000 ₽
			.project-item.invert
				.top-right 2
			.project-item.invert
				.bottom-left 3
			.project-item
				.bottom-right 4
	section.contacts
		.map
		.contact-wrap
			.contacts-body
				.info
				.form
			.contacts-footer
				button контакты
				button обратная связь
	section.footer
		.links 1
		.social 2
script(src="js/libs.min.js")
script(src="js/common.js")
