@import "app/css/fonts"
@import "app/css/stylesheet"

$accent: #6ab960
$sub: #a88773
$mite: #aca2a6

$tablet: 'only screen and (max-width: 1024px)'
$mobile: 'only screen and (max-width: 767px)'
$desctop: 'only screen and (max-width: 1440px)'
$landscape: 'only screen and (orientation: landscape) and (max-width: 1024px)'
$mobile-landscape: 'only screen and (orientation: landscape) and (max-width: 767px)'

body
	margin: 0
	padding: 0
	min-width: 1400px
	//max-width: 1500px
.slider
	height: 1300px
	background: $sub
.advantages
	height: 570px
.projects
	height: 910px
	background: $accent
.contacts
	height: 430px
	background: $mite
.footer
	height: 150px
	background: $sub