@import "app/css/fonts"
@import "app/css/stylesheet"

$accent: #6ab960
$sub: #a88773
$mite: #aca2a6
$text: #ada2a6
$menu-color: #452725

$tablet: 'only screen and (max-width: 1024px)'
$mobile: 'only screen and (max-width: 767px)'
$desctop: 'only screen and (max-width: 1440px)'
$landscape: 'only screen and (orientation: landscape) and (max-width: 1024px)'
$mobile-landscape: 'only screen and (orientation: landscape) and (max-width: 767px)'

*
	margin: 0
html, body
	margin: 0
	padding: 0
	min-width: 960px
	//max-width: 1500px
	font-family: regular
	position: relative
.slider
	background: $sub
	position: relative
	overflow: hidden
.projects
	background: $accent
	position: relative
	overflow: hidden
.contacts
	height: 430px
	font-size: 0
.footer
	height: 150px
	background: $sub
	position: relative
.slides
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	img
		width: 100%
		height: 100%
		object-fit: cover
		position: absolute
		top: 0
		left: 100%
		transition: 1s
		z-index: -1
		&.active
			left: 0
			z-index: 10
		&.left
			left: -100%
			z-index: 0
.slider-btn-wrap
	position: relative
.slider-arr-wrap
	position: absolute
	background: #fff
	width: 50px
	height: 50px
	top: 0
	bottom: 0
	margin: auto
	z-index: 20
	transition: .2s
	cursor: pointer
	&:hover
		background: $menu-color
	i
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		margin: auto
	&.left
		left: 35px
		i
			transform: rotate(90deg)
	&.right
		right: 35px
		i
			transform: rotate(-90deg)
.slider-body
	height: 100vh
	min-height: 700px
	max-height: 800px
	width: 960px
	margin: 0 auto
	position: relative
	top: 0
	left: 0
	overflow: hidden
	z-index: 11
.lead-text
	height: 100%
	position: absolute
	top: 300px
	transition: 1s
	z-index: -1
	opacity: 0
	text-align: center
	width: 500px
	margin: auto 
	left: 0
	right: 0
	&.active
		left: 0
		z-index: 10
		opacity: 1
	&.left
		z-index: -1
		opacity: 0
.slider-header
	color: #fff
	font-size: 65px
	font-family: bold
	text-transform: uppercase
	line-height: 50px
	margin: 0
	span
		font-size: 50px
		font-family: regular
		display: block
.slider-text
	color: #fff
	font-size: 20px
	margin: 30px 0
.btn
	font-size: 17px
	color: #fff
	border: 5px solid transparent
	background: none
	padding: 20px 30px
	text-transform: uppercase
	transition: .2s
	cursor: pointer
.btn-primary
	border-color: $accent
	background: rgba($menu-color,.4)
	&:hover
		background: $accent
		border-color: #fff
.btn-proj
	padding: 19px 36px
	border: 0
	background: #fff
	color: $accent
	&:hover
		background: $menu-color
		color: #fff
.slider-footer
	height: 500px
	width: 100%
	background: rgba( $sub, .8)
	position: relative
	top: 0
	left: 0
	z-index: 11
.like-header
	margin: 0
	padding: 55px 0 80px
	font-size: 50px
	font-family: regular
	color: #fff
	text-align: center
	text-transform: uppercase
	position: relative
	&:after
		content: ""
		position: absolute
		left: 0
		right: 0
		margin: auto
		bottom: 35px
		background-image: url(../img/spritesheet.png)
		background-repeat: no-repeat
		display: block
		width: 11px
		height: 18px
		background-position: -238px -5px
	&.invert
		color: $text
		&:after
			background-position: -71px -5px
	&.sub
		text-align: left
		padding: 0 0 50px
		&:after
			content: none
.footer-text
	width: 960px
	color: #fff
	font-size: 20px
	margin: 0 auto 18px
	text-align: center
.advantages-wrap
	width: 960px
	margin: 0 auto
	text-align: center
	display: flex
	flex-flow: row wrap
	justify-content: space-between
.item-wrap
	display: inline-block
	width: 300px
	margin: 0 auto
	text-align: left
	margin-bottom: 60px
	width: 270px
	img
		float: left
		margin-right: 20px
.item-text
	font-family: regular
	color: #ada2a6
	font-size: 14px
	span
		font-family: bold
		font-size: 17px
		color: $sub
		text-transform: uppercase
		display: block
.projects-wrap
	width: 100%
	font-size: 0
	position: relative
.project-item
	width: 50%
	height: 300px
	display: inline-block
	font-size: 16px
	position: relative
	background: $accent
	font-size: 0
	&.invert
		background: $sub
	&.bottom
		height: 400px
.proj-item-wrap
	position: relative
.top-left
	position: absolute
	bottom: 0
	right: 0
	.proj-text	
		font-size: 14px
		position: absolute
		width: 120px
		padding-right: 20px
		left: -140px
		top: 40px
		color: #e4ffb9
		text-align: right
		span
			color: #fff
			font-size: 17px
			line-height: 20px
			display: block
			margin-bottom: 10px
			text-transform: uppercase
		strong
			color: #fff
			font-size: 17px
			line-height: 20px
			display: block
			margin-bottom: 10px
		a
			display: inline-block
			color: #e4ffb9
			transition: .2s
			&:hover
				color: $menu-color
	.price-wrap
		position: absolute
		bottom: 0
		right: 0
		z-index: 1
		font-size: 14px
		background: #3d811e
		width: 185px
		height: 75px
		p
			color: #fff
			font-size: 20px
			line-height: 27px
			position: absolute
			top: 9px
			left: 33px
			span
				color: #e4ffb9
				display: block
				font-size: 14px
				text-decoration: line-through
.top-right
	position: absolute
	bottom: 70px
	left: 200px
	.proj-text	
		font-size: 14px
		position: absolute
		width: 120px
		padding-right: 20px
		left: -145px
		top: 33px
		color: #e4ffb9
		text-align: right
		span
			color: #fff
			font-size: 17px
			line-height: 20px
			display: block
			margin-bottom: 10px
			text-transform: uppercase
		strong
			color: #fff
			font-size: 17px
			line-height: 20px
			display: block
			margin-bottom: 10px
		a
			display: inline-block
			color: #e4ffb9
			transition: .2s
			&:hover
				color: $menu-color
	.price-wrap
		position: absolute
		bottom: 0
		right: 0
		z-index: 1
		font-size: 14px
		background: #805a44
		width: 160px
		height: 65px
		&.invert
			background: #805a44
		p
			color: #fff
			font-size: 20px
			line-height: 27px
			position: absolute
			top: 7px
			left: 33px
			span
				color: #e4ffb9
				display: block
				font-size: 14px
				text-decoration: line-through
.bottom-left
	position: absolute
	top: 70px
	right: 195px
	.proj-text	
		font-size: 14px
		position: absolute
		width: 120px
		padding-right: 20px
		right: -160px
		top: 23px
		color: #e4ffb9
		text-align: left
		span
			color: #fff
			font-size: 17px
			line-height: 20px
			display: block
			margin-bottom: 10px
			text-transform: uppercase
		strong
			color: #fff
			font-size: 17px
			line-height: 20px
			display: block
			margin-bottom: 10px
		a
			display: inline-block
			color: #e4ffb9
			transition: .2s
			&:hover
				color: $menu-color
	.price-wrap
		position: absolute
		bottom: 0
		right: 0
		z-index: 1
		font-size: 14px
		background: #805a44
		width: 160px
		height: 65px
		&.invert
			background: #805a44
		p
			color: #fff
			font-size: 20px
			line-height: 27px
			position: absolute
			top: 4px
			left: 33px
			span
				color: #e4ffb9
				display: block
				font-size: 14px
				text-decoration: line-through
.bottom-right
	position: absolute
	top: 0
	left: 0
	.proj-text	
		font-size: 14px
		position: absolute
		width: 120px
		padding-right: 20px
		right: -160px
		top: 40px
		color: #e4ffb9
		text-align: left
		span
			color: #fff
			font-size: 17px
			line-height: 20px
			display: block
			margin-bottom: 10px
			text-transform: uppercase
		strong
			color: #fff
			font-size: 17px
			line-height: 20px
			display: block
			margin-bottom: 10px
		a
			display: inline-block
			color: #e4ffb9
			transition: .2s
			&:hover
				color: $menu-color
	.price-wrap
		position: absolute
		bottom: 0
		right: 0
		z-index: 1
		font-size: 14px
		background: #3d811e
		width: 185px
		height: 75px
		p
			color: #fff
			font-size: 20px
			line-height: 27px
			position: absolute
			top: 7px
			left: 33px
			span
				color: #e4ffb9
				display: block
				font-size: 14px
				text-decoration: line-through
.proj-btn-wrap
	position: absolute
	left: 0
	right: 0
	margin: auto
	bottom: 45px
	text-align: center
.map
	width: 50%
	height: 100%
	background: bisque
	display: inline-block
	&.sub
		width: 100%
.menu
	width: 100%
	height: 70px
	background: #fff
	margin-top: 35px
	font-size: 0
.logo-wrap
	display: inline-block
	width: 70px
	height: 70px
.list-wrap
	display: inline-flex
	justify-content: center
	align-items: center
	height: 100%
	vertical-align: top
	font-size: 14px
	ul
		margin: 0
		padding: 0
		list-style-type: none
		display: flex
		justify-content: center
		align-items: center
	li
		display: inline-block
		margin: 0 15px
		position: relative
		&:first-child
			margin-left: 30px
		&:last-child
			margin-right: 30px
		&.mod
			a	
				font-family: arial
				color: #fff
				font-size: 14px
				background: $sub
				padding: 10px
				transition: .2s
				&:hover
					background-color: $accent
				&:after
					content: none
	a
		font-family: bold
		color: $menu-color
		text-transform: uppercase
		text-decoration: none
		padding: 28px 0
		transition: .2s
		&:hover
			color: $accent
		&:after
			content: ''
			width: 0%
			height: 3px
			background-color: #fff
			bottom: -26px
			left: 0
			position: absolute
			transition: .2s
		&:hover:after
			content: ''
			width: 100%
			height: 3px
			background-color: $accent
			bottom: -26px
			left: 0
			position: absolute
.phone-wrap
	display: inline-flex
	justify-content: center
	align-items: center
	height: 100%
	vertical-align: top
	font-size: 0	
	color: #fff
	background-color: $accent
	padding: 20px 25px 20px 64px
	box-sizing: border-box
	float: right
	p
		margin: 0
		padding: 0
		line-height: 18px
		position: relative
		font-size: 14px
		&:before
			content: ''
			background-image: url(../img/spritesheet.png)
			background-repeat: no-repeat
			display: block
			width: 25px
			height: 24px
			background-position: -92px -5px
			bottom: 0
			top: 0
			left: -43px
			position: absolute
			margin: auto
	a
		display: block
		font-family: bold
		color: #fff
		text-decoration: none
		transition: .2s
		&:hover
			color: $menu-color
.contact-wrap
	width: 50%
	height: 100%
	display: inline-block
	vertical-align: top
	position: relative
.tabs
	font-size: 14px
.contacts-btn
	width: 50%
	font-size: 14px
	display: inline-block
	text-align: center
	background: #aca2a6
	transition: .2s
	color: #fff
	font-family: bold
	text-transform: uppercase
	padding: 21px 0
	&:hover, &.active
		background: #6ab960
.tabs__content
	height: 370px
	width: 100%
	opacity: 0
	z-index: -1
	transition: .2s
	position: absolute
	top: 0
	left: 0
	padding: 45px 0 0 50px
	box-sizing: border-box
	color: #ada2a6
	text-transform: uppercase
	&.active
		opacity: 1
		z-index: 1
.tabs-header
	margin: 0
	padding: 0
	font-size: 50px
	font-family: regular
	color: #ada2a6
.tabs-text
	font-family: bold
	font-size: 17px
	text-transform: uppercase
	margin-bottom: 25px
	color: #ada2a6
	span
		display: block
		font-family: regular
		font-size: 14px
		text-transform: none
	a
		color: #ada2a6
		transition: .2s
		&:hover
			color: $accent
	i
		font-style: normal
		color: $accent
.tabs-label
	text-transform: uppercase
	display: block
	font-family: regular
	font-size: 14px
	margin-top: 17px
.feedback-form
	position: relative
	width: 202px
.tabs-input
	text-transform: uppercase
	display: block
	font-family: bold
	font-size: 14px
	width: 200px
	border: none
	border-bottom: 1px solid #ada2a6
	outline: none
	color: $menu-color
	margin-top: 10px
	&::-webkit-input-placeholder
		color: #ada2a6
	&.success
		color: $accent
	&.fail
		color: red
.tabs-submit
	width: 200px
	font-size: 14px
	display: inline-block
	text-align: center
	background: #aca2a6
	transition: .2s
	color: #fff
	font-family: bold
	text-transform: uppercase
	padding: 21px 0
	border: none
	margin-top: 25px
	cursor: pointer
	outline: none
	&:hover
		background: #6ab960
	&[disabled]
		opacity: .5
		&:hover
			cursor: default
			background: #aca2a6
.feed-success-wrap
	background: #fff
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	display: flex
	justify-content: center
	align-items: center
	margin: auto
	opacity: 0
	transition: .2s
	z-index: -1
	&.success
		opacity: 1
		z-index: 1
.tabs__caption
	margin: 0
	padding: 0
	font-size: 0
	position: absolute
	bottom: 0
	width: 100%
	li
		width: 50%
		font-size: 14px
		display: inline-block
		text-align: center
		background: #aca2a6
		transition: .2s
		color: #fff
		font-family: bold
		text-transform: uppercase
		padding: 21px 0
		&:hover, &.active
			background: #6ab960
.links
	display: inline-block
.links-header
	margin: 0
	padding: 35px 10px 15px
	font-family: bold
	font-size: 14px
	color: #fff
	text-transform: uppercase
.links-ul
	margin: 0
	padding: 0 10px
	display: inline-block
	list-style-type: none
	a
		color: #fff
		font-family: regular
		font-size: 14px
		transition: .2s
		&:hover
			color: #f4d2bd
.social
	width: 300px
	height: 90px
	display: inline-block
	position: absolute
	bottom: 23px
	right: 10px
	text-align: right
	padding-right: 10px
	box-sizing: border-box
.sprite-wrap
	display: inline-block
	background: $mite
	margin-right: 5px
	transition: .2s
	&.fb
		padding: 4px 13px
	&.vk
		padding: 6px 7px
	&:hover
		background-color: $accent
.copyring
	font-size: 14px
	font-family: regular
	color: #fff
	a
		color: #fff
		transition: .2s
		&:hover
			color: $accent
.sub-page
	background: url(../img/bg.jpg) no-repeat center center
	background-size: cover
.sub-menu
	width: 960px
	margin: 35px auto 35px
.about
	width: 960px
	margin: 0 auto 40px
.sub-lead
	text-align: left
	padding: 0
	margin: 55px 0
	&:after
		content: none
.sub-desc
	color: $sub
	font-size: 17px
	margin: 30px 0
	text-transform: uppercase
.news
	width: 960px
	margin: 0 auto 40px
	hr
		height: 1px
		background: #e6dbdf
		border: none
		margin: 0
.news-wrap
	display: flex
	flex-wrap: wrap
	flex-direction: row
	margin: 0
	padding: 0
	li
		display: inline-block
		width: 300px
		margin-bottom: 70px
		&:nth-child(2),&:nth-child(3n+2)
			margin: 0 20px
			
.new-date
	font-size: 14px
	color: $sub
	margin-bottom: 10px
.new-header
	margin: 20px 0
	color: $sub
	font-family: bold
	font-size: 17px
	text-transform: uppercase
.new-desc
	font-family: regular
	font-size: 14px
	color: #ada2a6
	a
		display: block
		color: #ada2a6
		transition: .2s
		&:hover
			color: $accent
.news-pagination
	margin: 50px 0 80px
	padding: 0
	list-style-type: none
	text-align: center
	li
		display: inline-block
		margin: 0 10px
		a
			color: $sub
			font-family: bold
			text-decoration: none
			&:hover, &.active
				color: $accent

		.first
			content: ''
			background-image: url(../img/spritesheet.png) 
			background-repeat: no-repeat
			display: block
			width: 25px
			height: 24px
			background-position: -58px -2px
			margin: auto
			transform: rotate(90deg)
		.last
			content: ''
			background-image: url(../img/spritesheet.png) 
			background-repeat: no-repeat
			display: block
			width: 25px
			height: 24px
			background-position: -70px -2px
			margin: auto
			transform: rotate(-90deg)
.news-inside
	width: 960px
	margin: 0 auto 60px
	p
		margin: 40px 0
	img
		width: 530px
		height: 330px
		object-fit: cover
		float: left
		margin-right: 30px
.breadcrumbs
	margin: 40px 0
	padding: 0
	list-style-type: none
	li
		display: inline-block
		margin-right: 30px
		position: relative
		&:after
			content: '►'
			font-size: 10px
			color: $sub
			position: absolute
			right: -20px
			top: 4px
		&:last-child
			&:after
				content: none
			a
				cursor: default
				color: $accent
				&:hover
					text-decoration: none
		a
			color: $sub
			font-size: 12px
			text-transform: uppercase
			text-decoration: none
			transition: .2s
			&:hover
				text-decoration: underline
.news-inside-header
	font-size: 17px
	color: $sub
	text-transform: uppercase
.news-inside-date
	margin: 40px 0 30px
	color: $sub
	font-size: 14px
.catalog
	width: 960px
	margin: 0 auto 60px
.search-head
	border: 1px solid $sub
	padding: 30px 50px
	position: relative
.options
	width: 200px
	display: inline-block
	vertical-align: top
	input[type=checkbox]
		display: none
	label
		display: block
		position: relative
		padding-left: 20px
		font-size: 16px
		&:after
			width: 15px
			height: 15px
			position: absolute
			content: ''
			left: -5px
			top: 1px
			border: 1px solid $sub
	input[type=checkbox]:checked + label:before
		content: '\2714'
		position: absolute
		font-size: 20px
		top: -2px
		left: -3px
		color: $sub
.opt-header
	color: $sub
	font-size: 17px
	text-transform: uppercase
	margin: 0
.sbm-btn
	color: $sub
	border: 2px solid $sub
	padding: 15px 35px
	font-size: 14px
	margin-top: 17px
	margin-left: 80px
	&:hover
		background: $accent
		color: #fff
		border-color: #fff
	&.sub
		width: 100%
		margin: 0
		box-sizing: border-box
		font-size: 12px
		padding: 15px 35px 13px
.page-wrap
	min-height: 100%
	margin-bottom: -150px
	&:after
		content: ''
		display: block
		height: 150px
.sort-wrap
	color: $accent
	font-size: 12px
	text-transform: uppercase
	margin: 25px 0
.sort-item
	color: $sub
	margin: 0 30px
	text-decoration: none
	position: relative
	&:hover
		text-decoration: underline
	&.az
		font-family: bold
		pointer-events: none
		&:hover
			text-decoration: none
		&:after
			content: '\25BE'
			position: absolute
			font-size: 20px
			top: -9px
			right: -20px
			color: $sub
	&.za
		font-family: bold
		pointer-events: none
		&:hover
			text-decoration: none
		&:after
			content: '\25BE'
			position: absolute
			font-size: 20px
			top: -7px
			right: -20px
			color: $sub
			transform: rotate(180deg)
.all-items
	display: inline-block
	float: right
	span
		font-family: bold
.sort-res-wrap
	margin: 0
	padding: 0
	list-style-type: none
	display: flex
	flex-wrap: wrap
	flex-direction: row
	li
		display: inline-block
		width: 300px
		padding-bottom: 20px
		position: relative
		opacity: .7
		transition: .2s
		&:nth-child(2),&:nth-child(3n+2)
			margin: 0 20px
		&:hover
			opacity: 1
			background-color: #fdfdfd
		a
			text-decoration: none
.sort-res-img
	width: 100%
.sale-ico
	position: absolute
	top: 0
	left: 0
	display: inline-block
	font-family: bold
	padding: 10px 15px
	background-color: orange
	color: #fff
.sort-res-header
	font-size: 17px
	text-transform: uppercase
	font-family: bold
	color: $sub
	margin: 15px 0
.sort-res-desc
	font-size: 16px
	color: $text
	margin: 20px 0
.sort-res-price
	color: $accent
	font-size: 20px
	margin: 20px 0
	span
		font-size: 14px
		text-decoration: line-through
		margin-right: 10px
.sort-more
	background-color: $accent
	width: 100%
	padding: 10px
	border: none
	font-family: bold
	text-transform: uppercase
	color: #fff
	font-size: 20px
	outline: none
	cursor: pointer
	transition: .2s
	margin: 40px 0
	&:hover
		background-color: $sub
.catalog-inside
	width: 960px
	margin: 0 auto 60px
.slider-area
	img
		width: 100%
		height: 400px
		object-fit: cover
.catalog-inside-wrap
	margin-top: 30px
	height: 100%
.inside-slider-wrap
	width: 700px
	display: inline-block
.inside-slider
	img
		width: 100%
		height: 400px
		object-fit: cover
.inside-slider-nav
	position: relative
	margin-top: 15px
	img
		height: 60px
		object-fit: cover
	.slick-arrow
		position: absolute
		border: none
		background-color: #aca2a6
		width: 30px
		height: 60px
		top: 0
		z-index: 1
		font-size: 0
		outline: none
		transition: .2s
		&:hover
			background-color: #6ab960
	.slick-prev
		left: 0
		&:before
		    background: url(../img/spritesheet.png)
		    width: 11px
		    height: 18px
		    background-position: -238px -5px
		    background-repeat: no-repeat
		    content: ''
		    position: absolute
		    transform: rotate(90deg)
		    top: 23px
		    left: 10px
	.slick-next
		right: 0
		&:before
		    background: url(../img/spritesheet.png)
		    width: 11px
		    height: 18px
		    background-position: -238px -5px
		    background-repeat: no-repeat
		    content: ''
		    position: absolute
		    transform: rotate(-90deg)
		    top: 23px
		    left: 10px
	.slick-slide
		padding: 0 10px
		box-sizing: border-box
		outline: none
.ins-desc-wrap
	border: 1px solid #e6dbdf
	display: inline-block
	overflow: hidden
	width: calc(100% - 720px)
	float: right
	padding: 30px
	box-sizing: border-box
.ins-desc-header
	font-size: 17px
	color: #ada2a6
	text-transform: uppercase
	line-height: 24px
	font-family: bold
.ins-desc-data
	font-size: 16px
	margin-bottom: 30px
	position: relative
	&:after
		content: ''
		position: absolute
		top: 30px
		left: 0
		width: 100%
		height: 1px
		background-color: #e6dbdf
	&.sub
		font-size: 28px
		font-family: bold
		color: $accent
		margin-bottom: 9px
		&:after
			content: none
.plan-block
	margin: 50px 0
.plan-img
	position: relative
	display: inline-block
	width: 240px
	cursor: pointer
	img
		width: 240px
		height: 240px
	&:hover:after
		content: ''
		background: url(../img/zoom.png) no-repeat center center
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		height: 240px
		width: 240px
		background-color: rgba($sub,.4)
.plan-text
	display: inline-flex
	width: 220px
	height: 240px
	vertical-align: top
	align-items: center
	flex-wrap: wrap
	align-content: center
	padding: 0 30px
	box-sizing: border-box
.plan-header
	font-family: bold
	font-size: 17px
	color: $accent
	text-transform: uppercase
.plan-desc
	margin: 10px 0 0
.hidden
	background-color: rgba(#e6dbdf,.8)
	position: absolute
	top: 0
	bottom: 0
	width: 100%
	z-index: -1
	opacity: 0
	transition: .2s
	&.open
		opacity: 1
		z-index: 1
.popup-wrap
	position: fixed
	background-color: #FFF
	top: 20%
	left: 0
	width: 500px
	right: 0
	margin: auto
	padding: 60px
	box-sizing: border-box
	pointer-events: none
	z-index: -1
	opacity: 0
	transition: .2s
	&.open
		z-index: 1
		opacity: 1
	&:before
		content: '✖'
		position: absolute
		top: 10px
		right: 20px
		font-size: 30px
		color: #ada2a6
		pointer-events: all
		cursor: pointer
.popup-header
	color: #ada2a6
	text-transform: uppercase
	font-size: 30px
.popup-form
	position: relative
	width: 100%
.popup-input
	text-transform: uppercase
	display: block
	font-family: bold
	font-size: 14px
	width: 100%
	border: none
	border-bottom: 1px solid #ada2a6
	outline: none
	color: $menu-color
	margin: 0
	margin-top: 10px
	&::-webkit-input-placeholder
		color: #ada2a6
	&.success
		color: $accent
	&.fail
		color: red
.popup-area
	text-transform: uppercase
	display: block
	font-family: bold
	font-size: 14px
	width: 100%
	height: 100px
	border: none
	border-bottom: 1px solid #ada2a6
	outline: none
	color: $menu-color
	margin-top: 10px
	&::-webkit-input-placeholder
		color: #ada2a6
	&.success
		color: $accent
	&.fail
		color: red
.popup-submit
	width: 200px
	font-size: 14px
	display: inline-block
	text-align: center
	background: #fff
	transition: .2s
	color: $accent
	font-family: bold
	text-transform: uppercase
	padding: 21px 0
	border: 2px solid $accent
	margin-top: 25px
	cursor: pointer
	outline: none
	&:hover
		background: $sub
		color: #fff
		border: 2px solid #fff
	&[disabled]
		opacity: .5
		&:hover
			cursor: default
			background: #fff
			color: $accent
			border: 2px solid $accent
.popup-success-wrap
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
	right: 0
	left: 0
	margin: auto
	background: #fff
	display: flex
	justify-content: center
	align-items: center
	transition: .2s
	z-index: -1
	opacity: 0
	&.success
		z-index: 1
		opacity: 1
.popup-gal
	position: fixed
	background-color: #FFF
	top: 10%
	left: 0
	bottom: 10%
	width: 80%
	height: 80%
	right: 0
	margin: auto
	padding: 60px
	box-sizing: border-box
	pointer-events: none
	z-index: -1
	opacity: 0
	transition: .2s
	&.open
		z-index: 1
		opacity: 1
	&:before
		content: '✖'
		position: absolute
		top: 10px
		right: 20px
		font-size: 30px
		color: #ada2a6
		pointer-events: all
		cursor: pointer
	img
		width: 100%
		height: 100%
		object-fit: cover
.contacts-inside
	margin: 60px auto
	width: 960px
.row
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	&.sub
		padding: 70px 0 130px
.col-6
	width: 50%
	display: inline-block
.contacts-form
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.contacts-input
	width: calc(50% - 30px)
	box-sizing: border-box
	border: none
	border-bottom: 5px solid #aca2a6
	text-transform: uppercase
	font-size: 17px
	font-family: bold
	padding: 0 10px
	outline: none
	margin-bottom: 20px
	color: #ada2a6
	&::-webkit-input-placeholder
		color: #ada2a6
	&.success
		color: $accent
	&.fail
		color: red
.contacts-message
	width: 100%
	height: 100px
	border: none
	border-bottom: 5px solid #aca2a6
	text-transform: uppercase
	font-size: 17px
	font-family: bold
	padding: 0 10px
	outline: none
	margin-bottom: 20px
	color: #ada2a6
	&::-webkit-input-placeholder
		color: #ada2a6
.cont-btn-block
	width: 100%
	text-align: right
.inputfile
	width: 0.1px
	height: 0.1px
	opacity: 0
	overflow: hidden
	position: absolute
	z-index: -1
.inputfile + label
	font-size: 17px
	display: inline-block
	font-family: bold
	color: #ada2a6
	transition: .2s
	padding: 0 20px
	text-transform: uppercase
	position: relative
	outline: none
	&:before
		content: ''
		position: absolute
		top: -2px
		left: -5px
		width: 20px
		height: 20px
		background: url(../img/file-before.png) no-repeat center center
.inputfile:focus + label,
.inputfile + label:hover
	color: $accent
	outline: none
.inputfile + label
	cursor: pointer /* "hand" cursor */
.inputfile:focus + label
	outline: 1px dotted #000
	outline: -webkit-focus-ring-color auto 5px
	outline: none
.inputfile + label *
	pointer-events: none
	outline: none
.contacts-submit
	border: 5px solid #ada2a6
	background: none
	padding: 15px 20px
	font-family: bold
	font-size: 17px
	color: #ada2a6
	text-transform: uppercase
	transition: .2s
	&:hover
		color: $accent
		border-color: $accent
	&[disabled]
		opacity: .5
		&:hover
			cursor: default
			color: #ada2a6
			border-color: #ada2a6
.accent-header-wrap
	position: absolute
	top: 125px
	left: 758px
	z-index: 10
	width: 234px
	background-color: #ffac08
	color: #fff
	font-size: 30px
	font-family: bold
	padding: 25px 25px
	box-sizing: border-box
	text-transform: uppercase
	span
		font-family: regular
		font-size: 14px
		margin-top: 10px
		display: block
		text-transform: none
		text-decoration: underline
.gallery
	width: 960px
	margin: 0 auto
	display: flex
	justify-content: center
.gal-item
	font-size: 0
	position: relative
	img
		width: 100%
		object-fit: cover
		height: 535px
.fake-btn
	color: #fff
	font-size: 17px
	font-family: bold
	border: 5px solid $accent
	transition: .2s
	position: absolute
	text-decoration: none
	text-transform: uppercase
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto
	padding: 10px
	display: block
	width: 80px
	text-align: center
	height: 20px
	&:hover
		text-decoration: none
		background: $accent